{include file="public/header" /}


<style>

    .content {
        margin-top: 20px;
    }

    .add-div {
        text-align: right;
    }

    .add-botton {
        border: 1px solid #ffffff;
        background-color: #00b6f1;
        color: #fff;
    }

    .btn-group{
        text-align: center;
    }

    .btn-group button{
        width: 200px;
        margin: 4px 0;
    }

    .tags{
        height: 38px;
        line-height: 22px;
    }

    .tag-item{
        display: block;
        width: 80px;
        padding: 4px;
        background-color: #009688;
        color: #fff;
        float: left;
        margin: 4px;
        text-align: center;
    }

    .tag-active{
        background-color: #d76060;
    }

    .layui-btn+.layui-btn{
        margin-left: 0px;
    }

</style>


<div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">

        <div class="layui-row">

            <div class="layui-col-xs12 layui-col-sm12 layui-col-md10 layui-col-md-offset1">

                <form class="layui-form">

                    <div class="layui-form-item">
                        <label class="layui-form-label">时间</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input date" id="test1" placeholder="选择日期" readonly="readonly">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">标签</label>
                        <div class="layui-input-block">
                            <p class="tags">
                                <span class="tag-item" data-tage="1">抠鼻子</span>
                                <span class="tag-item" data-tage="2">正常</span>
                                <span class="tag-item" data-tage="3">多</span>
                                <span class="tag-item" data-tage="4">洗漱时</span>
                                <span class="tag-item" data-tage="5">洗澡时</span>
                            </p>
                        </div>
                    </div>

                    <div class="layui-form-item btn-group">
                        <button class="layui-btn layui-btn-normal btn-time" data-time="3" onclick="return false">3分钟前</button>
                        <button class="layui-btn layui-btn-normal btn-time" data-time="1" onclick="return false">1分钟前</button>
                    </div>

                    <div class="layui-form-item btn-group">
                        <button class="layui-btn btn-submit" onclick="return false">保存</button>
                    </div>

                </form>

            </div>

        </div>

    </div>
</div>


<script>


    //JavaScript代码区域
    layui.use(['element','laydate'], function () {
        var element = layui.element,
            laydate = layui.laydate;


        $().ready(function () {

            title('新增数据');

            // 保存事件
            $('.btn-time').click(function () {

                // 获取时间
                var minTime = $(this).data('time');
                var setTime = getMinTime(minTime);

                laydate.render({
                    elem: '#test1'
                    ,type: 'datetime'
                    ,value: setTime
                });

            });

            /**
             * 获取执行分钟前的时间
             * @param min
             */
            function getMinTime(min){
                var nowTime = (new Date()).getTime()/1000;
                // 3分钟前 3*60
                nowTime -= min * 60;
                var setTime = timestampToDate(nowTime);
                return setTime;
            }


            $('.btn-submit').click(function () {

                // 获取时间
                var date = $('.date').val();
                var time = $('.time').val();
                var description = $('.description').val();
                var happen_time = date + ' ' + time;
                var url = '/api/notic/add';

                $.post(
                    url,
                    {
                        happen_time: happen_time,
                        description: description
                    },
                    function (result) {

                        if (result.code == 0) {
                            layer.msg(result.msg);
                        } else {
                            layer.msg(result.msg);
                        }
                    }
                );
            });


            $('.tag-item').click(function () {

                var checkActive = $(this).hasClass('tag-active');

                if (checkActive){
                    $(this).removeClass('tag-active');
                }else{
                    $(this).addClass('tag-active');
                }

            });

            //常规用法
            laydate.render({
                elem: '#test1'
                ,type: 'datetime'
                ,value: new Date()
            });

        })

    });

</script>

</div>
</body>
</html>