{include file="public/header" /}

<link rel="stylesheet" href="static/font-awesome/css/font-awesome.css">

<style>

    .human-title{
        font-size: 20px;
        text-align: center;
        margin: 10px 0;
    }

    .human{
        height: 300px;
        text-align: center;
    }

    .human img{
        border-radius: 10px;
        width: 90%;
        height: 100%;
        display: inline;
        max-width: 300px;
    }

    .human-note{
        text-align: center;
    }

    .tag{
        width: 80px;
        margin: 4px 4px;
        background-color: #2b73ff;
        padding: 4px;
        border-radius: 6px;
        color: #fff;
        display: inline-block;
    }

    .div-search{
        width: 80%;
    }

    .user{
        margin: 0 10px;
    }

    .layui-card-body{
        border-radius: 10px;
    }

    .layui-form{
        text-align: center;
    }

</style>

<div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 25px 0 0 0;">

        <div class="layui-row">
            <div class="layui-col-md2 layui-col-xs12 layui-col-sm12 user">
                <div class="layui-card">
                    <!--<div class="layui-card-header"><p class="human-title">LongDD</p></div>-->
                    <div class="layui-card-body">
                        <p class="human"><img class="human-img" src="static/images/huangxiang.jpg" alt=""></p>
                        <div class="human-note">
                            <p class="human-title">LongDD</p>
                            <p class="human-title">黄翔</p>
                            <p class="tags">
                                <span class="tag">远古巨鱼</span>
                                <span class="tag">华文</span>
                                <span class="tag">小腿</span>
                                <span class="tag">眼少</span>
                            </p>
                            <p class="user">

                                <i>layui-icon-rate</i>
                                <i>layui-icon-login-weibo</i>
                                <i>layui-icon-video</i>



                            </p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="layui-col-md9 layui-col-xs12 layui-col-sm12">
                <form class="layui-form">

                    <div class="layui-inline" style="width: 120px">
                        <select name="type" id="type" lay-filter="aihao">
                            <option value="icp">用户名</option>
                            <option value="aq">弹幕</option>
                        </select>
                    </div>

                    <div class="layui-inline" style="width: 600px">
                        <input id="vcode" name="vcode" type="hidden">
                        <input placeholder="输入关键字" name="domain" autocomplete="off" id="domain" class="layui-input">
                    </div>

                    <button type="button" class="layui-btn" id="start"><i class="layui-icon layui-icon-search"></i></button>


                </form>

            </div>

        </div>

    </div>
</div>

</div>
<script>
    //JavaScript代码区域
    layui.use(['element','form'], function () {
        var element = layui.element
            ,form = layer.form;

    });
</script>
</body>
</html>