{include file="public/header" /}
<style>

    .gift-title{
        background-color: #FF5722;
        text-align: center;
        color: #f5f8f9;
        border-radius: 8px;
        font-size: 20px;
        height: 40px;
        line-height: 40px;
    }

    .gift-list .gift-item{
        font-size: 16px;
        height: 40px;
        line-height: 40px;
        padding: 4px;
        overflow-x: auto;
    }

    .gift-list .gift-item .layui-badge{
        font-size: 16px;

    }

    .gift-num{
        color: #eaa800;
        float: right;
    }

    .gift-item{
        border-bottom: 1px solid #d9d9d9;
    }

    .username{
        color: #FF5722;
        display: inline-block;
    }

    .layui-badge{
        width: 20px;
    }

    .gift_time{
        width: 160px;
        display: inline-block;
    }


</style>


<div class="layui-body" style="padding: 15px;background-color: #fff">


    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">今日排行榜</li>
            <li>本周排行榜</li>
            <li>历史排行榜</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <ul class="gift-list" id="today">

                </ul>

            </div>
            <div class="layui-tab-item">

                <ul class="gift-list" id="week">

                </ul>

            </div>
            <div class="layui-tab-item">

                <ul class="gift-list" id="total">

                </ul>

            </div>
        </div>
    </div>

</div>

<script>
//JavaScript代码区域
layui.use(['element', 'form', 'layer', 'laypage'], function () {
    var element = layui.element
        , form = layui.form
        , laypage = layui.laypage
        , layer = layui.layer;

    $().ready(function () {

        // 获取今日榜单
        getGift();

        function getGift() {

            var url = '/api/gift/getall';
            maskShow();

            $.post(
                url,
                {
                    'type':'all'
                },
                function(result){
                    maskClose();

                    if (result.code == 0){
                        setList(result.message);
                    }else{
                        layer.msg(result.message);

                    }

                },
                'json'
            );


        }

        function setList(data) {

            var today = data['today'];
            var week = data['week'];
            var total = data['total'];

            // 循环数据
            var todayList = getList(today);
            var weekList = getRankList(week);
            var totalList = getRankList(total);


            $('#today').empty().append(todayList);
            $('#week').empty().append(weekList);
            $('#total').empty().append(totalList);

        }

        
        function getList(giftData) {

            var giftList = '';

            for (var i=0;i<giftData.length;i++){

                giftList +=
                    '<li class="gift-item">' +
                    '    <span class="layui-badge">'+(i+1)+'</span>' +
                    '    <span class="gift_time">'+giftData[i]['gift_time']+'</span>' +
                    '    <span class="username">'+giftData[i]['username']+'</span>' +
                    '    <span class="layui-badge">'+giftData[i]['name']+'</span>' +
                    '    <span>X</span>' +
                    '    <span class="gift-num">'+giftData[i]['count']+'</span>' +
                    '</li>';
            }

            if (giftList ==''){
                giftList = '<li class="gift-item">暂无数据!</li>';
            }

            return giftList;
        }
        
        function getRankList(giftData) {

            var giftList = '';

            for (var i=0;i<giftData.length;i++){

                var totals = fmoney(giftData[i]['totals']);

                giftList +=
                    '<li class="gift-item">' +
                    '    <span class="layui-badge">'+(i+1)+'</span>' +
                    '    <span class="gift_time">'+giftData[i]['gift_time']+'</span>' +
                    '    <span class="username">'+giftData[i]['username']+'</span>' +
                    '    <span class="gift-num">'+totals+'金豆</span>' +
                    '</li>';
            }

            if (giftList ==''){
                giftList = '<li class="gift-item">暂无数据!</li>';
            }

            return giftList;

        }
        

    });


    function maskShow() {
        var index = layer.load();

        setTimeout(function(){
            layer.close(index);
        }, 5000);

    }

    function maskClose() {
        layer.closeAll('loading');
    }



});
</script>

{include file="public/footer" /}
