{include file="public/header" /}


<style>

    .gift-title{
        background-color: #FF5722;
        text-align: center;
        color: #f5f8f9;
        border-radius: 8px;
        font-size: 20px;
        height: 40px;
        line-height: 40px;
    }

    .gift-list .gift-item{
        font-size: 16px;
        height: 40px;
        line-height: 40px;
        padding: 4px;
        overflow-x: auto;
    }

    .gift-list .gift-item .layui-badge{
        font-size: 16px;

    }

    .gift-num{
        color: #ff0000;
    }

    .layui-item{
        padding: 8px;
    }

</style>


<div class="layui-body" style="padding: 15px">
    <!-- 内容主体区域 -->
    <div class="layui-col-md6 layui-col-sm6 layui-col-xs12 layui-item">

        <div class="gift-title">
            今日排行榜
        </div>

        <ul class="gift-list">
            <li class="gift-item">
                <span class="layui-badge layui-bg-blue">1</span>
                <span>2018-11-13 09:30:10</span>
                <span>张三</span>
                <span>前方高能</span>
                <span>X</span>
                <span class="gift-num">6</span>
            </li>
            <li class="gift-item">
                <span class="layui-badge layui-bg-blue">1</span>
                <span>2018-11-13 09:30:10</span>
                <span>张三123123</span>
                <span>前方高能</span>
                <span>X</span>
                <span class="gift-num">6</span>
            </li>
            <li class="gift-item">
                <span class="layui-badge layui-bg-blue">1</span>
                <span>2018-11-13 09:30:10</span>
                <span>张三123123</span>
                <span>前方高能</span>
                <span>X</span>
                <span class="gift-num">6</span>
            </li>
            <li class="gift-item">
                <span class="layui-badge layui-bg-blue">1</span>
                <span>2018-11-13 09:30:10</span>
                <span>张三</span>
                <span>前方高能</span>
                <span>X</span>
                <span class="gift-num">6</span>
            </li>
            <li class="gift-item">
                <span class="layui-badge layui-bg-blue">1</span>
                <span>2018-11-13 09:30:10</span>
                <span>张三</span>
                <span>前方高能</span>
                <span>X</span>
                <span class="gift-num">6</span>
            </li>
            <li class="gift-item">
                <span class="layui-badge layui-bg-blue">1</span>
                <span>2018-11-13 09:30:10</span>
                <span>张三</span>
                <span>前方高能</span>
                <span>X</span>
                <span class="gift-num">6</span>
            </li>
        </ul>

    </div>
    <div class="layui-col-md6 layui-col-sm6 layui-col-xs12 layui-item">

        <div class="gift-title">
            本周排行榜
        </div>

        <ul class="gift-list">
            <li class="gift-item">
                <span class="layui-badge layui-bg-blue">1</span>
                <span>2018-11-13 09:30:10</span>
                <span>张三</span>
                <span>前方高能</span>
                <span>X</span>
                <span class="gift-num">6</span>
            </li>
            <li class="gift-item">
                <span class="layui-badge layui-bg-blue">1</span>
                <span>2018-11-13 09:30:10</span>
                <span>张三123123</span>
                <span>前方高能</span>
                <span>X</span>
                <span class="gift-num">6</span>
            </li>
            <li class="gift-item">
                <span class="layui-badge layui-bg-blue">1</span>
                <span>2018-11-13 09:30:10</span>
                <span>张三123123</span>
                <span>前方高能</span>
                <span>X</span>
                <span class="gift-num">6</span>
            </li>
            <li class="gift-item">
                <span class="layui-badge layui-bg-blue">1</span>
                <span>2018-11-13 09:30:10</span>
                <span>张三</span>
                <span>前方高能</span>
                <span>X</span>
                <span class="gift-num">6</span>
            </li>
            <li class="gift-item">
                <span class="layui-badge layui-bg-blue">1</span>
                <span>2018-11-13 09:30:10</span>
                <span>张三</span>
                <span>前方高能</span>
                <span>X</span>
                <span class="gift-num">6</span>
            </li>
            <li class="gift-item">
                <span class="layui-badge layui-bg-blue">1</span>
                <span>2018-11-13 09:30:10</span>
                <span>张三</span>
                <span>前方高能</span>
                <span>X</span>
                <span class="gift-num">6</span>
            </li>
        </ul>

    </div>

    <div class="layui-col-md6 layui-col-sm6 layui-col-xs12 layui-item">

        <div class="gift-title">
            历史排行榜
        </div>

        <ul class="gift-list">
            <li class="gift-item">
                <span class="layui-badge layui-bg-blue">1</span>
                <span>2018-11-13 09:30:10</span>
                <span>张三</span>
                <span>前方高能</span>
                <span>X</span>
                <span class="gift-num">6</span>
            </li>
            <li class="gift-item">
                <span class="layui-badge layui-bg-blue">1</span>
                <span>2018-11-13 09:30:10</span>
                <span>张三123123</span>
                <span>前方高能</span>
                <span>X</span>
                <span class="gift-num">6</span>
            </li>
            <li class="gift-item">
                <span class="layui-badge layui-bg-blue">1</span>
                <span>2018-11-13 09:30:10</span>
                <span>张三123123</span>
                <span>前方高能</span>
                <span>X</span>
                <span class="gift-num">6</span>
            </li>
            <li class="gift-item">
                <span class="layui-badge layui-bg-blue">1</span>
                <span>2018-11-13 09:30:10</span>
                <span>张三</span>
                <span>前方高能</span>
                <span>X</span>
                <span class="gift-num">6</span>
            </li>
            <li class="gift-item">
                <span class="layui-badge layui-bg-blue">1</span>
                <span>2018-11-13 09:30:10</span>
                <span>张三</span>
                <span>前方高能</span>
                <span>X</span>
                <span class="gift-num">6</span>
            </li>
            <li class="gift-item">
                <span class="layui-badge layui-bg-blue">1</span>
                <span>2018-11-13 09:30:10</span>
                <span>张三</span>
                <span>前方高能</span>
                <span>X</span>
                <span class="gift-num">6</span>
            </li>
        </ul>



    </div>


</div>

<script>
//JavaScript代码区域
layui.use(['element', 'form', 'layer', 'laypage'], function () {
    var element = layui.element
        , form = layui.form
        , laypage = layui.laypage
        , layer = layui.layer;

    $().ready(function () {

        // 获取今日榜单


        function getGift() {

            var url = '/api/AdminDanmu/get';
            maskShow();

            search['page'] = nowPage;
            search['pageNum'] = pageNum;

            $.post(
                url,
                search,
                function(result){
                    maskClose();

                    if (result.code == 0){
                        setList(result.message);
                    }else{
                        layer.msg(result.message);

                    }

                },
                'json'
            );


        }



        // 获取本周榜单


        // 获取历史榜单



    });
});
</script>

{include file="public/footer" /}
