
<div class="layui-footer">
    <!-- 底部固定区域 -->
    相关链接: <a href="http://zhibo.yuanxu.top/" target="_blank">直播观影台</a>

    © by <a href="https://weibo.com/607891221" target="_blank">会跑的蜗牛</a> 小龙人暗黑部

</div>
</div>

<!--百度代码统计-->
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?171c74efc1792e70dfe2e01a261cc381";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<!--百度代码统计-->


</body>
</html>